.heading{
    text-align:justify;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:450px;
    color: indigo;
    background: url(https://images-cdn.ubuy.co.in/635e2501f7a21e3f2d0e7745-maps-international-world-wall-map-map.jpg);
    
    
}
.container{
    background: url(https://media.istockphoto.com/id/466699584/vector/bicycle-world.jpg?s=612x612&w=0&k=20&c=vabBcR7mLVN_uxNeLZNqfw2V6y0H-aouy_6WDsCmA08=);
}
h2{
    text-align: center;
}
.card {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    color: rgb(6, 184, 184);
}
.top{
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: rgb(6, 184, 184)f;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    margin-top: 20px;
  }
  .foot{
    text-align: center;
    font-family: sans-serif;
    color:indigo;
    font-weight: bold;
    margin: 10px;
  }
