.heading{
    
    height: 450px;
    background: url(https://t4.ftcdn.net/jpg/02/86/18/21/360_F_286182178_CsReLGXEhZbLMO6wnkpDW5kfcgW58o6A.jpg);   
}
.container{
    background: url(https://media.istockphoto.com/id/466699584/vector/bicycle-world.jpg?s=612x612&w=0&k=20&c=vabBcR7mLVN_uxNeLZNqfw2V6y0H-aouy_6WDsCmA08=);
}
h2{
    text-align: center;
}
.card {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    background: url(https://w0.peakpx.com/wallpaper/249/1006/HD-wallpaper-smiley-face-amarillo-anime-cara-carita-faces-feliz-smiles-sonriente-yellow.jpg);
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    color: black;
}
.top{
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: rgb(6, 184, 184)f;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    margin-top: 20px;
  }
  .foot{
    text-align: center;
    font-family: sans-serif;
    color:indigo;
    font-weight: bold;
    margin: 10px;
  }
  .hub{
    background-color: rgb(241, 185, 44);
    color: black;
    border-radius: 10px;
  }
